<% if @urls.empty? %>
	<p>No Shortened urls found.</p>
<% else %>
<table id="urlTable">
	<thead>
		<tr>
			<th> # </th>
			<th> Original Url </th>
			<th> Created At</th>
			<th> Shortened Url</th>
			<th> clicks </th>
			<th colspan="2"></th>
		</tr>
	</thead>
	<tbody>
		<% @urls.each_with_index do |url, index| %>
		<tr>
			<td><%= index + 1 %></td>
			<td><%= url.original_url %></td>
			<td><%= distance_of_time_in_words(Time.now, url.created_at) %></td>
			<td><%= link_to "localhost:3000/#{url.short_url}",shortened_urls_welcome_path(:short_url => url.short_url) %></td>
			<td><%= url.clicks %></td>
			<td><%= link_to "Edit", edit_shortened_url_path(url.id)%> | <%= link_to "destroy", shortened_url_path(url.id), method: :delete %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<% end %>

<%#= link_to "Create Short Url", new_shortened_url_path %>
<h3>Enter Url</h3>
<%= render 'form' %>

<% data = {} %>
<% @urls.each do |url| %>
	<% data[url.created_at.strftime("%B %d %Y %H: %M %p")] = url.clicks %>
<% end %>
<%#= data %>
<%= column_chart(data) %>
<script type="text/javascript">
	// $(document).ready(function(){
	// 	$('#urlTable').DataTable();
	// });
</script>